.login-page-background {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.login-page-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../resources/login-page-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}

.login-page-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: fit-content;
}

.login-page-logo img {
  width: 200px;
  height: auto;
}

.login-page-container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
